body {
  background-color: rgb(227, 195, 235);
  text-align: center;
  Margin: 50px;
  border: 50px;
 padding: 70px;
 padding-left: 20px;
 border: 5px solid  
}
h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  font-size: x-large;
}


h2 {
  margin-bottom: 30px;
}


#link {
  font-size: 20pt;
}


#rainbow {
  color: rgb(192, 60, 60)
}
.diff-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a {
  font-size: 17pt;
  font-family: 'Bebas Neue', cursive;
}


#rainbow2 {
  color: rgb(182, 124, 16);
}


ul {
  text-align: left;
}


a {
  text-decoration: none;
  font-weight: bolder;
}


#rainbow3 {
  color: rgb(170, 151, 3)
}


#rainbow4 {
  color: rgb(19, 180, 54)
}


.text-left {
  text-align: left;
}


a:hover {
  text-decoration: wavy;
  background-color: rgb(223, 178, 223);
}


#rainbow5 {
  color: rgb(18, 106, 52)
}


#rainbow6 {
  color: rgb(47, 154, 221);
}


#rainbow7 {
  color: rgb(31, 31, 249);
}

#rainbow8 {
  color: rgb(197, 20, 197);
}

.img-size {
  width: 750px;
  height: 200px;
}

#rainbow9 {
  color: rgb(83, 1, 160);
}