body {
  background-color: rgb(227, 195, 235);
  text-align: center;
  Margin: 50px;
  border: 50px;
 padding: 70px;
}
h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
h2 {
  margin-bottom: 30px;
}
#link {
  font-size: 20pt;
}
#rainbow {
  color: rgb(192, 60, 60)
}
.diff-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
  font-size: 17pt;
  font-family: 'Bebas Neue', cursive;
}
#rainbow2 {
  color: orange;
}
ul {
  text-align: left;
}


